################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/dotnettraining/FileContentIndex/489e1b7e-ac9e-4850-8016-0a02a9a9c169.vsidx
/.vs/dotnettraining/FileContentIndex/c93e67d1-3227-4107-8b65-5f5d34044389.vsidx
/.vs/dotnettraining/FileContentIndex/9e9639fe-f789-4025-8792-76739c0eb0b3.vsidx
/.vs/dotnettraining/FileContentIndex/f25ca9c4-b29e-4fe7-a97c-9c26c57aef2b.vsidx
/.vs/dotnettraining/config/applicationhost.config
/.vs/dotnettraining/FileContentIndex/4363cf8d-5fac-4541-b64f-64cfc4a1aab3.vsidx
/.vs/dotnettraining/FileContentIndex/33f5b919-0217-46d7-a745-297d30f10cf8.vsidx
/.vs/dotnettraining/FileContentIndex/922f88a4-9837-4c44-9508-c60c1b4c06f7.vsidx
